<div class="article_list_preview_css">
{% for article in articleList %}
    <div class="article_preview_css">
        <h2 class="article_title_css">
            {{article.title}}
        </h2>
        <div class="article_description">
            <span class="label">Автор:</span> <span class="value">{{article.author.get_full_name}}</span>
            <br>
            <span class="label">Дата:</span> <span class="value">{{article.date}}</span>
            <br>
            {% for tag in article.tags %}
            <span class="article_tag_css">{{tag.name}}</span>
            {%endfor%}
        </div>
    </div>
{%endfor%}
</div>