<div class="article_list_preview_css">
{% for article in articleList %}
    <div class="article_preview_css">
        <h3 class="article_title_css">
            <div class="article_button" id="article_button_{{article.pk}}"value="{{article.pk}}">Обзор</div>
            {{article.title}}
        </h3>
        <div class="article_description">
            <span class="label">Автор:</span> <span class="value">{{article.author.get_full_name}}</span>
            <br>
            <span class="label">Дата:</span> <span class="value">{{article.date}}</span>
            <br>
            <span class="label">Теги:</span>
            {% for tag in article.tags.all %}
            {% if forloop.last %}
            <span class="article_tag_css">{{tag.name}}</span>
            {%else%}
            <span class="article_tag_css">{{tag.name}}, </span>
            {%endif%}
            {%endfor%}
        </div>
    </div>
{%empty%}
	<div class="article_preview_nonfind">Извините, но ни одной статьи не найдено</div>
{%endfor%}
<style>
    .article_list_preview_css {
        background:#FFF;
        margin:0;
        padding:0;
    }
    .article_preview_css {
        background:#222;
        margin:5px;
        padding:0;
        border:1px solid #AAA;
        text-align:left;
        display:inline-block;
        width:350px;
        vertical-align:top;
    }
    h3.article_title_css {
        background:#CCF;
        margin:0;
        padding:3px 5px;
    }
    .article_button {
		float:right;
		margin:0px;
		padding:3px 5px;
		background:#FFF;
		box-shadow:0 0 5px 1px rgba(0,0,0, 0.5);
		cursor: pointer;
	}
	.article_button:hover {
		box-shadow:0 0 5px 3px rgba(0,0,90, 0.5);
		color:#151872;
	}
    .article_description {
        background:#FCFCFC;
        margin:0;
        padding:5px;
        position:relative;
    }
    .article_description>span.label {
        background:#FAFAFA;
    }
    .article_preview_nonfind {
		font-size:14pt;
		font-weight:bold;
		color:#151872;
		background:#FAFAFA;
		padding:10px;
		marging:0 auto;
	}
</style>
</div>
